body {
  font-family: $lato-font;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, ul, a{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-black;
  &:hover {
    color: $primary-red;
  }
  &:focus {
    color: $primary-red;
  }
}
