@font-face {src: url(../fonts/cocogoose/CocogoosePro-trial.ttf);font-family: cocogoose-pro;};
@font-face {src: url(../fonts/cocogoose/CocogooseProLight-trial.ttf);font-family: cocogoose-pro-light;};
@font-face {src: url(../fonts/cocogoose/CocogoosePrThin-trial.ttf);font-family: cocogoose-utra-light;};
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$cocognose-pro: cocogoose-pro, sans-serif;
$cocognose-light: cocogoose-pro-light, sans-serif;
$cocognose-ultra-light: cocogoose-utra-light;
$lato-font: 'Lato', sans-serif;
$primary-black: #272a31;
$primary-gray: #d3d3d3;
$primary-red: #ec5242;
